<div id="content">
    <div id="header">
        <h1><%= @part.name %></h1>
        <h2>Part Number: <%= @part.number %></h2>
    </div>
    <div>
        <table id="parttable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>PO Number</td>
                    <td>Supplier</td>
                    <td>Price</td>
                    <td>Opened Date</td>
                    <td>Due Date</td>
                    <td>Notes</td>
                </tr>
            </thead>
            <!-- Add SO tab -->
        </table>
    </div>
</div>