<style>
    *{
        margin: 0 auto;
        text-align: center;
    }
</style>
<div id="wrapper1">
<div id="head"><%= image_tag("logostack.png", :alt => "Wenzlau Logo") %></div>

<div id="login">
    <p id="title">Employee Portal Log In</p>
    <div id="loginbox">
        <form action="/login" id="formin" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p>Email: </p><input type="text" class="formin" name="email"><br><br>
            <p>Password: </p><input type="password" class="formin" name="password"><br><br>
            <input id="submit" type="submit" name="login" value="Log In"><br>
        </form>
    </div>
</div>
</div>