#content{
    width: 80%;
    height: 80%;
}
#header{
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
}
#content h1{
    // text-align: center;
    margin-right: 155px;
}
#partsModal{
    z-index: 9999
}
#content{
    z-index:0;
}
.form-group{
    margin-top:-15px;
}
#submit_button{
    background-color: #282B78;
    color: white;
}