<div id="content">
    <div id="header">
        <h1>Action Items</h1>
    </div>
    <!--Search Field-->
    <form action="/parts" method="post">
        <fieldset id="actions">
            <legend>Search By:</legend>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Sales Order: <input type="text" name="nomenclature" size="20">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="newpartsubmit" type="submit" class="btn" value="Search">
        </fieldset>
    </form>
    <hr>
</div>